/*@import url('https://fonts.googleapis.com/css2?family=Noto+Kufi+Arabic:wght@500&family=Tajawal:wght@200;300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Kufi+Arabic:wght@500&display=swap');*/


.espresso {
	padding-right: 2%;
	padding-left: 2%;
	padding-bottom: 1%;
	padding-top: 0.5%;
	border-radius: 15px;
}

.double_espresso {
	padding-right: 2%;
	padding-left: 2%;
	padding-bottom: 1%;
	padding-top: 0.5%;
	border-radius: 15px;
}

.longo {
	padding-right: 2%;
	padding-left: 2%;
	padding-bottom: 1%;
	padding-top: 0.5%;
	border-radius: 15px;
}

.Cappuccino {
	padding-right: 2%;
	padding-left: 2%;
	padding-bottom: 1%;
	padding-top: 0.5%;
	border-radius: 15px;
}

.moka {
	padding-right: 2%;
	padding-left: 2%;
	padding-bottom: 1%;
	padding-top: 0.5%;
	border-radius: 15px;
}

.Latte {
	padding-right: 2%;
	padding-left: 2%;
	padding-bottom: 1%;
	padding-top: 0.5%;
	border-radius: 15px;
}

html {
	background-color: #1a203a;
}

@media only screen and (max-width: 380px) {
	.button_nav img {
	
		flex-direction:column;
		align-items: flex-start;
		display: block;
		height: auto;
		margin-left: auto;
		margin-right: auto;
		align-content: stretch ;
	  
	}
	.print_image
	{
		width: 10%;
		text-align: center;
		position:relative;
		align-content: stretch ;

	}

  }
  .button_nav img 
  {
	  max-width: 150px;
	  height: auto;

  }
.button_nav {
	text-align: center;
	position: relative;
	align-items: center;
	margin-right: auto;
	margin-left: auto;
	width: 100%;
	height: auto;

}

img {
	max-width: 60%;
	height: auto;
	
}


.button_nav img:hover {
	border: 1px dotted #e0e0e0;
	background-color: #e2b331;
	opacity: 20;
}

.displaySpace .print_image {
	width: 80%;
	height: auto;
	

}


.print_image{
	display: block;
	max-width: 450px;
	margin-left: auto;
	margin-right: auto;

}
.btn-mode
{
	height: fit-content;
	width: fit-content;
	background-color:Transparent;
	opacity: 60;
	color: #e2b331;
	border: none;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display:inline-block;
	font-size: 15px;
	margin: 4px 2px;
	border-radius: 15px;
	font-family:'Tajawal','Noto Kufi Arabic', 'sans-serif';
}

.Footer
{
	position: fixed;
	left: 4;
	bottom: 0;
	width: 100%;
	color: white ;
	opacity: 0.5;
	text-align: left;
	font-size: 8px;
	font-family: 'Tajawal';
}
